
#fancy {
    color:yellow;
}
#boxybox {
    position: absolute;

}

p{
    color: mediumvioletred;
}

div {
    background-color: orchid;
    border: 3.5px dotted violet;

}

. heading {
    font-weight: bolder;
    font-style: italic;
}

.content {
    color:blue;
}
